<!doctype html> 
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>SCM Risk Game</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img src="/static/images/logistics.svg" width="30" height="30" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                </ul>
                <ul class="navbar-nav"> 
                    <button type="button" class="btn btn-outline-warning mx-1" href="/">Instructions</button> 
                </ul>
            </div>
        </div>
    </nav>

    <div class="container my-4">      
        <h4 class="my-3 h3">You are the head of procurement and your task is to maximize the firm's profit!</h4>
        <hr class="my-3">
        <img src="static/images/welcome.png" class="img-fluid" alt="Responsive image" width="100%">
        <hr class="my-3">
        <p class="font-weight-bold">Keep the following in mind:</p>
            <p> <li>Inventory is being transferred from one period to another.</li>
				<li>If not indicated differently, there is no other connection between the periods or influence on one another.</li> 
				<li>No backorders or backorder penalty cost, only lost sales occur when the shipped quantity is lower than demand. </li>
			</p>
			<p>
				<li>1 local supplier (US Productions) with high production cost </li> 
				<li>1 Far East supplier (TW Productions) with lower production cost </li>
			</p>
			<p>
				<li>Your order will arrive at the end of the order period. You only have to pay for the products you receive in proper quality independent of what you have ordered. </li>
				<li>The demand of each period will be covered from your inventory as far as possible.</li>
			</p>
            <hr class="my-3">
            <h4 class="my-3 h3 text-primary">Main task: Placing orders to fulfil demand (100% demand forecast accuracy) and maximize your profit</h4>

    </div>
	
	<div class="container pt-5 col-4 ">
                    <table class="table table-striped ">
                        <thead>
							<tr>
							  <th scope="col">Key data</th>
							  <th scope="col">Price</th>
							</tr>
						</thead>
                        <tbody>
                            <tr>
								<td>Selling price</td>
								<td>$ 200</td>
                            </tr>
							
                            <tr>
								<td>Purchasing price at US Productions</td>
								<td>$ 100</td>
                            </tr>
							
                            <tr>                            
								<td>Purchasing price at TW Productions</td>
								<td>$ 85</td>
                            </tr>

							<tr>                            
								<td>Inventory holding cost per period</td>
								<td>$ 15</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
	<div class="container d-md-flex pt-5 mb-5 justify-content-md-end">
        <a href="/round1" class="btn btn-primary btn-md"" role="button">Got it!</a>   
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
