<!doctype html> 
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>SCM Risk Game</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid"> 
            <a class="navbar-brand">
                <img src="static/images/logistics.svg" width="30" height="30" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <button type="button" class="btn btn-secondary mx-1" disabled>PERIOD 1</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 2</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 3</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 4</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 5</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 6</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 7</button>
					<button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 8</button>   
					<button type="button" class="btn btn-outline-secondary mx-1" disabled>RESULT</button>
                </ul>
                <ul class="navbar-nav"> 
                    <button type="button" class="btn btn-outline-warning mx-1" href="/">Instructions</button> 
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
	<hr class="my-4 mt-5">
        <div class="row">
            <div class="col-7">
                <div class="container pb-4">
					<h2> <b> FEEDBACK PERIOD 1 </b> </h2>
					<p class="text-primary pt-4"style ="text-align: justify;"> Since TW productions is not yet aware of our special delievery requirements, unfortunately not all orders could be delievered. </p>
					
					<p> Your orders: </p>
					
					<table class="table">
						<thead>
						<tr>
							<th scope="col">Supplier</th>
							  <th scope="col">Ordered quantity</th>
							  <th scope="col">Received quantity</th>
						</tr>
						</thead>
						
						<tbody>
						<tr>
							<th scope="row">US Productions</th>
							<td>xxx</td>
							<td>xxx</td>
						</tr>
						<tr>
							<th scope="row">TW Productions</th>
							<td>xxx</td>
							<td>xxx</td>
						</tr>						
						</tbody>
					</table>
					
					<p class="pb-5"> Inventory level after receiving orders: xxx
					
                </div> 
            </div>
            <div class="col-5 pt-4">		
				<div class="container text-center">
					<div class="border border-2 border-primary p-2" style="display: inline-block;">
						Demand: 453 <br>
						Demand covered: xxx <br>
						Serivce level: x%
					</div>
				</div>			
				
				<div class="container pt-5">
					<b> <table class="table table-borderless">
                        
                       <tbody>
                            <tr>
								<td>Profit of this period:</td>
								<td> tbd </td>
                            </tr>
							
							<tr>
								<td>Current inventory level:</td>
								<td> tbd </td>
                            </tr
							
							<tr>
								<td>Total profit:</td>
								<td> tbd </td>
                            </tr>
						</tbody>
					</table> </b>
				</div>
				
				
            </div>
        </div>
		
		<div class="d-grid gap-2 d-md-flex pt-3 pb-5 justify-content-md-end">
           <a href="/round2" class="btn btn-primary" >Next period</a>
        </div>
        
    </div>   
    
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>


