<!doctype html> 
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>SCM Risk Game</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid"> 
            <a class="navbar-brand">
                <img src="static/images/logistics.svg" width="30" height="30" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 1</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 2</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 3</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 4</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 5</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 6</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 7</button>    
					<button type="button" class="btn btn-secondary mx-1" disabled>PERIOD 8</button> 
                </ul>
                <ul class="navbar-nav"> 
                    <button type="button" class="btn btn-outline-warning mx-1" href="/">Instructions</button> 
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
	<hr class="my-4 mt-5">
        <div class="row">
            <div class="col-7">
                <div class="container pb-4">
					<h2> <b> PERIOD 8 </b> </h2>
				
					<p class="text-primary pt-4"style ="text-align: justify;"> Your warehouse can be used again. </p>
					
					<p class="pt-2 fs-4"> Demand for Period 8: <b> 460</b> </p>
					
					<div style ="text-align: justify;" class="pb-3">
						<p>  You are in a meeting with IT-Security and they tell you that lately there have been several <b>cyber-attacks on online sport shops</b>. They are afraid that you might be an interesting target, too and they emphasize that they did not get enough budget in the last years to be able to stay up to date concerning data security systems. </p>
						
						<p class="pb-3">  In case you are being hit, you will <b>not be able to deliver any products in period 9</b>, because the IT department will first have to restore all data for the processes to work again. </p>
						
						 <hr> 
						<div class="pb-3">
							<p class="pt-2"> This time, you can purchase the risk analysis to help you estimate the probability of the risk.</p>
							<button type="button" class="btn btn-outline-secondary d-grid gap-2 col-6 mx-auto" data-bs-toggle="modal" data-bs-target="#confirmModal">
								Buy analysis for $8,000
							</button>

							<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
							  <div class="modal-dialog">
								<div class="modal-content">
								  <div class="modal-header">
									<h5 class="modal-title" id="confirmModalLabel"> Confirmation</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								  </div>
								  <div class="modal-body">
									Are you sure you want to buy the analysis for $8,000?
								  </div>
								  <div class="modal-footer">
                                    <script>
                                        function updateProfit(){
                                            var formatter = new Intl.NumberFormat('en-US', {
                                                style: 'currency',
                                                currency: 'USD',});
                                            var profit_r1=parseFloat("{{ profit_r1 }}") - 8000;
                                            document.getElementById("profit_r1").innerHTML=formatter.format(profit_r1);
                                            document.getElementById("analysis_purchase").value=8000;}
                                    </script>
                                    
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button onclick="updateProfit()" type="button" name="Button" value="Modal" class="btn btn-primary mx-1" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#analysisModal">Show Analysis</button>
                                  </div>
								</div>
							  </div>
							</div>
                        </div>
                        
                        <div class="modal fade" id="analysisModal" tabindex="-1" aria-labelledby="analysisModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Risk Analysis</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                            </div>
                        </div>
						
						<form method="post">
                        <input type="hidden" id ="analysis_purchase" name="analysis_purchase"></input> 
                        
                        <hr>
											
						<p> You can buy a new state-of-the-art data security system which will definitely prevent any hacking. However, they are extremely costly and you will have to pay $ 45,000. </p>
						<button type="button" class="btn btn-primary d-grid col-6 mx-auto">Buy new data security system for $ 45,000</button> 
						
						<p class="pt-5"> You could also update the existing data security system. This will not fully protect you but assures that your processes can be restored a lot quicker in case of an attack and you will still be able to cover 85% of the periods demand. This will cost you $ 39,000.</p>
						<button type="button" class="btn btn-primary d-grid col-6 mx-auto">Buy update for data security system for $ 39,000</button>
						
						<p class="pt-5"> Finally, you have received an offer from a firm that is specialized on IT security. You can outsource IT security to them for $ 55,000 and they will then be liable for all losses you will suffer due to any cyber-attack.</p>
						<button type="button" class="btn btn-primary d-grid col-6 mx-auto">Outsource IT security for $ 55,000</button>
						
					</div>
					<hr>
					
                    <form action="/round8/feedback/" method="post">
						<p> <b> How much would you like to order from each supplier? </b> </p>
                        <div class="row mb-3">
                            <label for="formGroupExampleInput" class="col-5 col-form-label">Order quantity US Productions</label>
                            <div class = "col-7">
								<input name ="order_quantities" type="text" class="form-control" id="formGroupExampleInput" placeholder="insert order quantity" >
							</div>
                        </div>
						
						<div class="row mb-3">
                            <label for="formGroupExampleInput" class="col-5 col-form-label">Order quantity TW Productions</label>
                            <div class = "col-7">
								<input name ="order_quantities" type="text" class="form-control" id="formGroupExampleInput" placeholder="insert order quantity" >
							</div>
                        </div>
						
						<div class="row mb-3">
                            <label for="formGroupExampleInput" class="col-5 col-form-label">Order quantity CN Productions</label>
                            <div class = "col-7">
								<input name ="order_quantities" type="text" class="form-control" id="formGroupExampleInput" placeholder="insert order quantity" >
							</div>
                        </div>
                        
                        <div class="d-grid gap-2 d-md-flex pt-3 pb-5 justify-content-md-end">
							<button type="button" class="btn btn-secondary ">Calculate cost</button>
                            <button type="submit" class="btn btn-primary">Submit orders</button>
                        </div>
                    </form>
					
					
					
                </div> 
            </div>
			
            <div class="col-1">
			</div>
			
            <div class="col-4 pt-5">
                <div class="container pt-5">
                    <table class="table table-striped mt-5">
                        
                        <tbody>
                            <tr>
								<td>Selling price</td>
								<td>$ 200</td>
                            </tr>
							
                            <tr>
								<td>Purchasing price at US Productions</td>
								<td>$ 110</td>
                            </tr>
							
                            <tr>                            
								<td>Purchasing price at TW Productions</td>
								<td>$ 85</td>
                            </tr>
							
							<tr>                            
								<td>Purchasing price at CN Productions</td>
								<td>$ 90</td>
                            </tr>
							
							<tr>                            
								<td>Inventory holding cost per period</td>
								<td>$ 15</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
				
				<div class="container pt-5">
					<b> <table class="table table-borderless">
                        
                       <tbody>
                            <tr>
								<td>Current profit:</td>
								<td> tbd </td>
                            </tr>
							
							<tr>
								<td>Current inventory level:</td>
								<td> tbd </td>
                            </tr
						</tbody>
					</table> </b>
				</div>
            </div>
        </div>
        
    </div>   
    
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>


