<!doctype html> 
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>SCM Risk Game</title>
</head>

<body onload="myFunction(); toggleSupplier()">
	<script src="//code.jquery.com/jquery-1.11.3.js" type="text/javascript"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid"> 
            <a class="navbar-brand">
                <img src="/static/images/sick_skateboards_blue.svg" width="250px" class="ps-5">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 1</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 2</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 3</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 4</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 5</button>
                    <button type="button" class="btn btn-secondary mx-1" disabled>PERIOD 6</button>
                </ul>
                <script>
				function OpenInstructions(){
							$("#Instructions").modal("show")
						}
				</script>
				
				<ul class="navbar-nav ps-5"> 
                    <button type="button" class="btn btn-outline-warning mx-1" onclick="OpenInstructions()">Instructions</a>
                </ul>
            </div>
        </div>
    </nav>
	
	<div class="modal fade" id="Instructions" tabindex="-1" >
                            <div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel"><b>Instructions</b></h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									
									<div class = "modal-body ps-5"> 
										<p> Keep the following in mind:</p>
										<p> <li>Inventory is being transferred from one period to another.</li>
											<li>If not indicated differently, there is no other connection between the periods or influence on one another.</li> 
											<li>No backorders or backorder penalty cost, only lost sales (demand that could not be fulfilled will not be transferred into future periods) occur when your received order quantity plus your inventory are lower than the demand. </li>
										</p>
										<p>
											<li>1 local supplier (US Productions) with high production cost </li> 
											<li>1 foreign supplier (TW Productions) with lower production cost </li>
										</p>
										<p>
											<li>Your orders will arrive at the end of the order period.</li>
											<li>The demand of each period will be covered from your inventory as far as possible.</li>
											<div div class="container pt-3 ps-5">
												<img src="/static/images/periods.jpeg" width="600px">
											</div>
										</p>
										<hr class="my-3">
										<h4 class="my-3 h3 text-primary">Main task: Placing orders to fulfil demand (100% demand forecast accuracy) and to maximize your profit</h4>
									</div>
							
									<div class="container col-6 ">
											<table class="table table-striped ">
												<thead>
													<tr>
													  <th scope="col">Key data</th>
													  <th scope="col">Price</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Selling price</td>
														<td><nobr>$ 200</nobr></td>
													</tr>
													
													<tr>
														<td>Purchasing price at US Productions</td>
														<td>$ 100</td>
													</tr>
													
													<tr>                            
														<td>Purchasing price at TW Productions</td>
														<td>$ 85</td>
													</tr>

													<tr>                            
														<td>Inventory holding cost per period</td>
														<td>$ 5</td>
													</tr>
												</tbody>
											</table>
										</div>
									
									
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									</div>
								</div>
                            </div>
    </div>

    <div class="container">
	<hr class="my-4 mt-5">
        <div class="row">
            <div class="col-7">
                <div class="container pb-4">
					<h2> <b> PERIOD 6 </b> </h2>
					
					<p class="pt-5 fs-4"> Demand for Period 6: <b> 430</b> </p>
					
					<div style ="text-align: justify;" class= "pb-3">
						<p>  Shocking news: There is a new skateboard store in Portland! This means <b>more competition</b> for us at our reliable local supplier. We expect the purchasing <b>price to be increased from $ 100 to <nobr>$ 110</nobr></b> at US Productions. </p>
						
						<p> If this happens, it will be the case for all following periods.</p>
						
						   <hr> 
						<div class="pb-3">
							<p class="pt-2"> You can purchase the risk analysis to help you estimate the probability of the risk.</p>
							<button id="analysisButton" type="button" class="btn btn-outline-secondary d-grid gap-2 col-6 mx-auto" onclick="openConfirmationModal()">
								Buy analysis for $8,000
							</button>

							<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
							  <div class="modal-dialog">
								<div class="modal-content">
								  <div class="modal-header">
									<h5 class="modal-title" id="confirmModalLabel"> Confirmation</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								  </div>
								  <div class="modal-body">
									Are you sure you want to buy the analysis for $8,000?
								  </div>
								  <div class="modal-footer">
                                    <script>
                                        function updateProfit(){
											setBought();
                                            var formatter = new Intl.NumberFormat('en-US', {
                                                style: 'currency',
                                                currency: 'USD',});
                                            var profit_r5=parseFloat("{{ profit_r5 }}") - 8000;
                                            document.getElementById("profit_r5").innerHTML=formatter.format(profit_r5);
                                            document.getElementById("analysis_purchase").value=8000;
										}					

										function setBought() {
											$("#analysisButton").html("Show analysis")
											$("#analysisButton").attr("onclick", "showAnalysis()")
										}
										
										function showAnalysis() {
											$("#analysisModal").modal("show")
										}
										
										function openConfirmationModal(){											
											$("#confirmModal").modal("show")
										}
									</script>
                                    
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button onclick="updateProfit()" type="button" name="Button" value="Modal" class="btn btn-primary mx-1" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#analysisModal">Show Analysis</button>
                                  </div>
								</div>
							  </div>
							</div>
                        </div>
                        
                        <div class="modal fade" id="analysisModal" tabindex="-1" aria-labelledby="analysisModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Risk Analysis</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<div class="card mb-3">
										  <div class="row g-0">
											<div class="col-5 pt-4">
											  <img src="/static/images/analysis_6.jpg">
											</div>
											<div class="col-7">
											  <div class="card-body">
													<p class="card-text"> "I advised US Productions to raise their price. However, I do not know if they will follow my advice. In the past, they did it in 70% of the cases. " </p>
													<p class = "card-text fst-italic"> - Nina, pricing expert </p>
												</div>
											</div>
										  </div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									</div>
								</div>
                            </div>
                        </div>
                        
                        <hr>
					</div>
					
                    <form method="post">
                        <input type="hidden" id ="analysis_purchase" name="analysis_purchase"></input>
						<p> <b> How much would you like to order from each supplier? </b> </p>
                        <div class="row mb-3">
                            <label for="formGroupExampleInput" class="col-5 col-form-label">Order quantity US Productions</label>
                            <div class = "col-7">
                                <input name ="order_US" type="number" class="form-control" id="formGroupExampleInput1" placeholder="insert order quantity" >
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <label for="formGroupExampleInput" class="col-5 col-form-label">Order quantity TW Productions</label>
                            <div class = "col-7">
                                <input name ="order_TW" type="number" class="form-control" id="formGroupExampleInput2" placeholder="insert order quantity" >
                            </div>
                        </div>
                        
                        
                        <div id="step-1" class="row mb-3" style="display:none;">
                            <label for="formGroupExampleInput" class="col-5 col-form-label">Order quantity CN Productions</label>
                            <div class = "col-7">
                                <input name ="order_CN" type="number" class="form-control" id="formGroupExampleInput3" placeholder="insert order quantity" >
                            </div>
                        </div>
                        
                        <div class="d-grid gap-2 d-md-flex pt-3 pb-5 justify-content-md-end">
                        	<button onclick="calculate()" type="button" name="Button" value="Modal" class="btn btn-secondary mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Calculate cost</button>
                           	<button type="submit" class="btn btn-primary">Submit orders</button>   
                       </div>
                    </form>

                    <script>
                        function calculate()
                            {
                                var formatter = new Intl.NumberFormat('en-US', {
                                    style: 'currency',
                                    currency: 'USD',});

                                
                                var inventory = parseFloat("{{ inventory_r5 }}"); 
                                var analsis = parseFloat(document.getElementById("analysis_purchase").value)|| 0;
                                    
                                var field1=parseFloat(document.getElementById("formGroupExampleInput1").value)|| 0;
                                var field2=parseFloat(document.getElementById("formGroupExampleInput2").value)|| 0;
                                var field3=parseFloat(document.getElementById("formGroupExampleInput3").value)|| 0;
                                
                                var revenue=Math.min((inventory+field1+field2+field3),430)*200
                                var purchase=(field1*100)+(field2*85)+(field3*90)
                                var holding=Math.max((inventory+field1+field2+field3-430),0)*5
                                var profit=revenue-purchase-holding-analsis

                                document.getElementById("revenue").innerHTML=formatter.format(revenue);
                                document.getElementById("purchase").innerHTML=formatter.format(purchase);
                                document.getElementById("holding").innerHTML=formatter.format(holding);
                                document.getElementById("profit").innerHTML=formatter.format(profit);
                                document.getElementById("analsis").innerHTML=formatter.format(analsis);
                            }
                    </script>
                    
                     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cost Calculation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-success" role="alert">
                                        <p> 
                                        <div class="row">
                                        <div><b>Figures under the assumption that risk does not occur! </b> </div>
                                        <div id="title" ></div>
                                        </div>
                                        </p>
                                                                                
                                        <div class="row">
                                        <div class="col-sm-5 col-md-6">Revenue: </div>
                                        <div id="revenue" class="col-sm-5 offset-sm-2 col-md-6 offset-md-0"></div>
                                        </div>
                                        
                                        <div class="row">
                                        <div class="col-sm-6 col-md-5 col-lg-6">Purchase Cost:</div>
                                        <div id="purchase" class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0"></div>
                                        </div>

                                        <div class="row">
                                        <div class="col-sm-6 col-md-5 col-lg-6">Holding Cost:</div>
                                        <div id="holding" class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0"></div>
                                        </div>

                                        <div class="row">
                                        <div class="col-sm-6 col-md-5 col-lg-6">Analysis Cost:</div>
                                        <div id="analsis" class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0"></div>
                                        </div>

                                        <div class="row">
                                        <div class="col-sm-6 col-md-5 col-lg-6">Profit:</div>
                                        <div id="profit" class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0"></div>
                                        </div>                                        
                                </div> 
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div> 
					
					
					
                </div> 
            </div>
			
            <div class="col-1">
			</div>
			
            <div class="col-4">
                <div class="container pt-5">
                    <table class="table table-striped mt-5">
                        
                        <tbody>
                            <tr>
								<td>Selling price</td>
								<td><nobr>$ 200</nobr></td>
                            </tr>
							
                            <tr>
								<td>Purchasing price at US Productions</td>
								<td>$ 100</td>
                            </tr>
							
                            <tr>                            
								<td>Purchasing price at TW Productions</td>
								<td>$ 85</td>
                            </tr>
							
							<tr>                            
								<td>Purchasing price at CN Productions</td>
								<td>$ 90</td>
                            </tr>
							
							<tr>                            
								<td>Inventory holding cost per period</td>
								<td>$ 5</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
				
				<div class="container pt-5">
                    <b> 
                        <script>
                            function myFunction() 
                                {
                                    var formatter = new Intl.NumberFormat('en-US', {
                                        style: 'currency',
                                        currency: 'USD',});

                                    var profit_r5 = "{{ profit_r5 }}";
                                    var inventory_r5 = "{{ inventory_r5 }}";
                                    
                                    document.getElementById("profit_r5").innerHTML=formatter.format(profit_r5);
                                    document.getElementById("inventory_r5").innerHTML=inventory_r5;
                                }

                            function toggleSupplier(){
                                var showSupplier = "{{ showCHN }}";
                                if (showSupplier == "True"){
                                    $("#step-1").show();
                                }
                                else {
                                    $("#step-1").hide();
                                    $("#formGroupExampleInput3").val("0");
                                }
                            }
                        </script>

                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>Current profit:</td>
                                    <td><span id="profit_r5"></span></td>
                                </tr>
                                <tr>
                                    <td>Current inventory level:</td>
                                    <td><span id="inventory_r5"></span></td>
                                </tr>
                            </tbody>
                    </table> </b>
                </div>
            </div>
        </div>
        
    </div>   
    
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>


