<!doctype html> 
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>SCM Risk Game</title>
</head>

<body onload="myFunction()">
<script src="//code.jquery.com/jquery-1.11.3.js" type="text/javascript"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid"> 
            <a class="navbar-brand">
                <img src="/static/images/logistics.svg" width="30" height="30" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 1</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 2</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 3</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 4</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 5</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 6</button>
                    <button type="button" class="btn btn-secondary mx-1" disabled>PERIOD 7</button> 
                </ul>
                <script>
				function OpenInstructions(){
							$("#Instructions").modal("show")
						}
				</script>
				
				<ul class="navbar-nav"> 
                    <button type="button" class="btn btn-outline-warning mx-1" onclick="OpenInstructions()">Instructions</a>
                </ul>
            </div>
        </div>
    </nav>
	
	<div class="modal fade" id="Instructions" tabindex="-1" >
                            <div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel"><b>Instructions</b></h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									
									<div class = "modal-body ps-5"> 
										<p> Keep the following in mind:</p>
										<p> <li>Inventory is being transferred from one period to another.</li>
											<li>If not indicated differently, there is no other connection between the periods or influence on one another.</li> 
											<li>No backorders or backorder penalty cost, only lost sales occur when the shipped quantity is lower than demand. </li>
										</p>
										<p>
											<li>1 local supplier (US Productions) with high production cost </li> 
											<li>1 Far East supplier (TW Productions) with lower production cost </li>
										</p>
										<p>
											<li>Your order will arrive at the end of the order period.</li>
											<li>The demand of each period will be covered from your inventory as far as possible.</li>
										</p>
										<hr class="my-3">
										<h4 class="my-3 h3 text-primary">Main task: Placing orders to fulfil demand (100% demand forecast accuracy) and maximize your profit</h4>
									</div>
							
									<div class="container col-6 ">
											<table class="table table-striped ">
												<thead>
													<tr>
													  <th scope="col">Key data</th>
													  <th scope="col">Price</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Selling price</td>
														<td><nobr>$ 200</nobr></td>
													</tr>
													
													<tr>
														<td>Purchasing price at US Productions</td>
														<td>$ 100</td>
													</tr>
													
													<tr>                            
														<td>Purchasing price at TW Productions</td>
														<td>$ 85</td>
													</tr>

													<tr>                            
														<td>Inventory holding cost per period</td>
														<td>$ 5</td>
													</tr>
												</tbody>
											</table>
										</div>
									
									
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									</div>
								</div>
                            </div>
    </div>

    <div class="container">
	<hr class="my-4 mt-5">
        <div class="row">
            <div class="col-7">
                <div class="container pb-4">
					<h2> <b> FEEDBACK PERIOD 7 </b> </h2>
					<p class="text-primary pt-4"style ="text-align: justify;"> 
					{% if option1 %}
						The wildfire has reached your plant. Your decision to build the firebreaks has saved your inventory and you can go on selling products the way you are used to.
					{% elif option2 %}
					    Unfortunately, the wildfire has reached your plant and the firefighters have not been able to push it back. However, Downtown Portland could be saved. You are lucky to have bought the new storage location thus you are able to fulfill a large part of this period's demand.
					{% elif option3 %}
					    Good choice. The wildfire has reached your plant, but your suppliers have delievered directly to you customers.
					{% else %}
						Unfortunately, the wildfire has reached your plant and the firefighters have not been able to push it back. Because you did not opt for any way to deal with the wildfires, all inventory left in your old storage is lost and you cannot fulfull any demand this period. 
					{% endif %}
					</p>
					
					<p class="text-primary"style ="text-align: justify;">Luckily, the warehouse can be built up quickly and will be available again in Period 8.  </p>
					
					<p> Your orders: </p>
					
					<table class="table">
						<thead>
						<tr>
							<th scope="col">Supplier</th>
							  <th scope="col">Ordered quantity</th>
							  <th scope="col">Received quantity</th>
						</tr>
						</thead>
						
						<tbody>
						<tr>
							<th scope="row">US Productions</th>
							<td>{{ order_US }}</td>
							<td>{{ receive_US }}</td>
						</tr>
						<tr>
							<th scope="row">TW Productions</th>
							<td>{{ order_TW }}</td>
							<td>{{ receive_TW }}</td>
						</tr>
						{% if showCN %}						
							<tr>
								<th scope="row">CN Productions</th>
								<td>{{ order_CHN }}</td>
								<td>{{ receive_CHN }}</td>
							</tr>	
						{% endif %}
						</tbody>
					</table>
					
					<p class="pb-5"> Inventory level after receiving orders: {{ inventory }}
					
                </div> 
            </div>
			
            <div class="container col-1">
			</div>
			
            <div class="col-4">	
				<div class="ps-5 ms-5">
					<img src="/static/images/cat7.png">
				</div>
				
				<div class="container text-left pt-2">
					<div >
						Demand: 400 <br>
						Demand covered: {{ dem_cov }} <br>
						Service level: {{ service_level }}%
					</div>
					<hr>
				</div>				
				
				<div class="container pt-2">
					<b> <table class="table table-borderless">
                        
                       <tbody>
                            <tr>
								<td>Profit in this period:</td>
								<td>{{ round_profit }}</td>
                            </tr>
							
							 <tr>
								<td>Foregone profit in this period:</td>
								<td> tbd </td>
                            </tr>
							
							<tr>
								<td>Total profit:</td>
								<td>{{ total_profit }}</td>
                            </tr>
						</tbody>
					</table> </b>
				</div>
				
				
            </div>
        </div>
		
		<div class="d-grid gap-2 d-md-flex pt-3 pb-5 justify-content-md-end">
           <a href="/round8" class="btn btn-primary">Next period</a>
        </div>
        
    </div>   
    
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

