<!doctype html> 
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>SCM Risk Game</title>
</head>

<body onload="myFunction()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid"> 
            <a class="navbar-brand">
                <img src="static/images/logistics.svg" width="30" height="30" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 1</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 2</button>
                    <button type="button" class="btn btn-secondary mx-1" disabled>PERIOD 3</button>
                </ul>
                <ul class="navbar-nav"> 
                    <button type="button" class="btn btn-outline-warning mx-1" href="/">Instructions</button> 
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
	<hr class="my-4 mt-5">
        <div class="row">
            <div class="col-7">
                <div class="container pb-4">
					<h2> <b> PERIOD 3 </b> </h2>
					
					<p class="text-primary pt-4"style ="text-align: justify;"> TW Productions' quality issues could be solved! </p>
					
					<p class="pt-2 fs-4"> Demand for Period 3: <b> 480</b> </p>
					
					<div style ="text-align: justify;" class= "pb-3">
						<p>  Only last month, a report was released that called the production site of TW Productions “a role model for all production sites in Taiwan, complying with all working condition standards and human rights.”</p>
						
						<p>  However, during a skype call last week, one of the production workers mentioned that the report’s authors did not even visit the site. </p>
						
						<p> <b>Amnesty International is also already keeping an eye on the site</b>, and announced to visit it tomorrow.</p>
						
						<p class= "pb-3"> In case they find something concerning, an expert of the legal department estimates the <b>fine which has to be paid due to a new supply chain law at $ 30,000.</b></p>
						
						<hr> 
						<div class="pb-3">
							<p class="pt-2"> This time, you can purchase the risk analysis to help you estimate the probability of the risk.</p>
							<button type="button" class="btn btn-outline-secondary d-grid gap-2 col-6 mx-auto" data-bs-toggle="modal" data-bs-target="#confirmModal">
								Buy analysis for $8,000
							</button>

							<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
							  <div class="modal-dialog">
								<div class="modal-content">
								  <div class="modal-header">
									<h5 class="modal-title" id="confirmModalLabel"> Confirmation</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								  </div>
								  <div class="modal-body">
									Are you sure you want to buy the analysis for $8,000?
								  </div>
								  <div class="modal-footer">
                                    <script>
                                        function updateProfit(){
                                            var formatter = new Intl.NumberFormat('en-US', {
                                                style: 'currency',
                                                currency: 'USD',});
                                            var profit_r1=parseFloat("{{ profit_r1 }}") - 8000;
                                            document.getElementById("profit_r1").innerHTML=formatter.format(profit_r1);
                                            document.getElementById("analysis_purchase").value=8000;}
                                    </script>
                                    
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button onclick="updateProfit()" type="button" name="Button" value="Modal" class="btn btn-primary mx-1" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#analysisModal">Show Analysis</button>
                                  </div>
								</div>
							  </div>
							</div>
                        </div>
                        
                        <div class="modal fade" id="analysisModal" tabindex="-1" aria-labelledby="analysisModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Risk Analysis</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        
                        <hr>
                        
                        <form method="post">
                        <input type="hidden" id ="analysis_purchase" name="analysis_purchase"></input>
											
						<p> Once in a lifetime chance to establish a new supplier at which you can purchase skateboards for $90 and that is known for really having no issues with production conditions. He will be happy to receive your offers in the next periods, too. Establishing the new supplier will cost you $ 5,000. </p>
						<button type="button" class="btn btn-primary d-grid col-6 mx-auto">Establish CN Productions as a new supplier for $ 5,000</button> 
						
						<p class="pt-5"> Negotiate new contract terms with the manager of TW Productions so that they pay half of the fine ($ 3,000) which falls due in case of misinformation.</p>
						<button type="button" class="btn btn-primary d-grid col-6 mx-auto">Negotiate new contract terms for $ 3,000</button>
						
						<p class="pt-5"> You can purchase the risk analysis to help you estimate the probability of the risk.</p>
						<button type="button" class="btn btn-primary d-grid col-6 mx-auto">Buy analysis for $ 8,000</button>
					</div>
					<hr>
					
                    <form action="/round3/feedback/" method="post">
						<p> <b> How much would you like to order from each supplier? </b> </p>
                        <div class="row mb-3">
                            <label for="formGroupExampleInput" class="col-5 col-form-label">Order quantity US Productions</label>
                            <div class = "col-7">
								<input name ="order_quantities" type="text" class="form-control" id="formGroupExampleInput" placeholder="insert order quantity" >
							</div>
                        </div>
						
						<div class="row mb-3">
                            <label for="formGroupExampleInput" class="col-5 col-form-label">Order quantity TW Productions</label>
                            <div class = "col-7">
								<input name ="order_quantities" type="text" class="form-control" id="formGroupExampleInput" placeholder="insert order quantity" >
							</div>
                        </div>
						
						<div class="row mb-3">
                            <label for="formGroupExampleInput" class="col-5 col-form-label">Order quantity CN Productions</label>
                            <div class = "col-7">
								<input name ="order_quantities" type="text" class="form-control" id="formGroupExampleInput" placeholder="insert order quantity" >
							</div>
                        </div>
                        
                        <div class="d-grid gap-2 d-md-flex pt-3 pb-5 justify-content-md-end">
							<button type="button" class="btn btn-secondary ">Calculate cost</button>
                            <button type="submit" class="btn btn-primary">Submit orders</button>
                        </div>
                    </form>
					
					
					
                </div> 
            </div>
			
            <div class="col-1">
			</div>
			
            <div class="col-4 pt-5">
                <div class="container pt-5">
                    <table class="table table-striped mt-5">
                        
                        <tbody>
                            <tr>
								<td>Selling price</td>
								<td>$ 200</td>
                            </tr>
							
                            <tr>
								<td>Purchasing price at US Productions</td>
								<td>$ 100</td>
                            </tr>
							
                            <tr>                            
								<td>Purchasing price at TW Productions</td>
								<td>$ 85</td>
                            </tr>
							
							<tr>                            
								<td>Purchasing price at CN Productions</td>
								<td>$ 90</td>
                            </tr>
							
							<tr>                            
								<td>Inventory holding cost per period</td>
								<td>$ 15</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
				
                <div class="container pt-5">
					<b> 
                        <script>
                            function myFunction() 
                                {
                                    var formatter = new Intl.NumberFormat('en-US', {
                                        style: 'currency',
                                        currency: 'USD',});

                                    var profit_r1 = "{{ profit_r2 }}";
                                    var inventory_r1 = "{{ inventory_r2 }}";
                                    
                                    document.getElementById("profit_r2").innerHTML=formatter.format(profit_r1);
                                    document.getElementById("inventory_r2").innerHTML=inventory_r1;
                                }
                        </script>

                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>Current profit:</td>
                                    <td><span id="profit_r2"></span></td>
                                </tr>
                                <tr>
                                    <td>Current inventory level:</td>
                                    <td><span id="inventory_r2"></span></td>
                                </tr>
                            </tbody>
                        </table> 
                    </b>
				</div>
            </div>
        </div>
        
    </div>   
    
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>


