<!doctype html> 
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>SCM Risk Game</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid"> 
            <a class="navbar-brand">
                <img src="static/images/logistics.svg" width="30" height="30" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 1</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 2</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 3</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 4</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" disabled>PERIOD 5</button>
                    <button type="button" class="btn btn-secondary mx-1" disabled>PERIOD 6</button>
                </ul>
                <ul class="navbar-nav"> 
                    <button type="button" class="btn btn-outline-warning mx-1" href="/">Instructions</button> 
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
	<hr class="my-4 mt-5">
        <div class="row">
            <div class="col-7">
                <div class="container pb-4">
					<h2> <b> PERIOD 6 </b> </h2>
					
					<p class="pt-5 fs-4"> Demand for Period 6: <b> 430</b> </p>
					
					<div style ="text-align: justify;" class= "pb-3">
						<p>  Shocking news: there is a new skateboard store in Portland! This means <b>more competition</b> for us at our reliable local supplier. We expect the purchasing <b>price to be increased from 100$ to 110$</b> at US Productions. </p>
						
						<p> If this happens, it will be the case for all following periods.</p>
						
						<hr>
					
						<p class="pt-2"> You can purchase the risk analysis to help you estimate the probability of the risk.</p>
						<button type="button" class="btn btn-primary d-grid col-6 mx-auto ">Buy analysis for $ 8,000</button>
						
						<hr>
					</div>
					
                    <form action="/round6/feedback/" method="post">
						<p> <b> How much would you like to order from each supplier? </b> </p>
                        <div class="row mb-3">
                            <label for="formGroupExampleInput" class="col-5 col-form-label">Order quantity US Productions</label>
                            <div class = "col-7">
								<input name ="order_quantities" type="text" class="form-control" id="formGroupExampleInput" placeholder="insert order quantity" >
							</div>
                        </div>
						
						<div class="row mb-3">
                            <label for="formGroupExampleInput" class="col-5 col-form-label">Order quantity TW Productions</label>
                            <div class = "col-7">
								<input name ="order_quantities" type="text" class="form-control" id="formGroupExampleInput" placeholder="insert order quantity" >
							</div>
                        </div>
						
						<div class="row mb-3">
                            <label for="formGroupExampleInput" class="col-5 col-form-label">Order quantity CN Productions</label>
                            <div class = "col-7">
								<input name ="order_quantities" type="text" class="form-control" id="formGroupExampleInput" placeholder="insert order quantity" >
							</div>
                        </div>
                        
                        <div class="d-grid gap-2 d-md-flex pt-3 pb-5 justify-content-md-end">
							<button type="button" class="btn btn-secondary ">Calculate cost</button>
                            <button type="submit" class="btn btn-primary">Submit orders</button>
                        </div>
                    </form>
					
					
					
                </div> 
            </div>
			
            <div class="col-1">
			</div>
			
            <div class="col-4">
                <div class="container pt-5">
                    <table class="table table-striped mt-5">
                        
                        <tbody>
                            <tr>
								<td>Selling price</td>
								<td>$ 200</td>
                            </tr>
							
                            <tr>
								<td>Purchasing price at US Productions</td>
								<td>$ 100</td>
                            </tr>
							
                            <tr>                            
								<td>Purchasing price at TW Productions</td>
								<td>$ 85</td>
                            </tr>
							
							<tr>                            
								<td>Purchasing price at CN Productions</td>
								<td>$ 90</td>
                            </tr>
							
							<tr>                            
								<td>Inventory holding cost per period</td>
								<td>$ 15</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
				
				<div class="container pt-5">
					<b> <table class="table table-borderless">
                        
                       <tbody>
                            <tr>
								<td>Current profit:</td>
								<td> tbd </td>
                            </tr>
							
							<tr>
								<td>Current inventory level:</td>
								<td> tbd </td>
                            </tr>
						</tbody>
					</table> </b>
				</div>
            </div>
        </div>
        
    </div>   
    
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>


